/* @font-face {
    font-family: "SourceHanSansSC-VF";
    src: url("../fonts/SourceHanSansSC-VF.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "SourceHanSansSC-Normal";
    src: url("../fonts/SourceHanSansCN-Normal.otf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceHanSansSC-Regular";
    src: url("../fonts/SourceHanSansCN-Regular.otf")format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "SourceHanSansSC-Bold";
    src: url("../fonts/SourceHanSansCN-Bold.otf")format("truetype");
    font-weight: bold;
    font-style: normal;
}